.btn,
button {
	--_btn-radius: 0.5em;

	transition: all 0.05s linear;
	display: inline-block;
	padding-inline: 1em;
	box-shadow:
		0 0.2em 0.2em var(--trans-light-300) inset,
		0 0.2em 0.2em var(--trans-dark-300);

	text-decoration: none;
	cursor: pointer;

	background: var(--btn-bg);
	color: var(--btn-txt);

	border: 1px solid var(--btn-border-color);
	border-radius: var(--_btn-radius);

	/* Accessability min touch targets 44×44 */
	line-height: 2.75; /* 44/16 */
	min-width: 2.75rem;
	&:hover {
		background-color: var(--btn-hover-bg);
	}
	&:active {
		translate: 0 0.2em;
		box-shadow:
			0 0.2em 0.2em var(--trans-dark-300) inset,
			0 0 var(--trans-dark-300);
	}
}

.skip {
	position: absolute;
	top: -3rem;
	left: 1rem;
	&:focus-visible {
		top: 1rem;
	}
}

*:focus-visible {
	outline-color: var(--clr-accent-700);
}

.button-group {
	.btn,
	button {
		border-radius: 0;
		&:first-child {
			border-radius: var(--_btn-radius) 0 0 var(--_btn-radius);
		}
		&:last-child {
			border-radius: 0 var(--_btn-radius) var(--_btn-radius) 0;
		}
	}
}
