:root {
	--clr-prime-100: hsl(258, 45%, 96%);
	--clr-prime-200: hsl(258, 45%, 90%);
	--clr-prime-300: hsl(258, 45%, 75%);
	--clr-prime-400: hsl(258, 45%, 45%);
	--clr-prime-500: hsl(258, 45%, 35%);
	--clr-prime-600: hsl(258, 45%, 25%);
	--clr-prime-700: hsl(258, 45%, 11%);

	--clr-accent-100: hsl(200, 45%, 92%);
	--clr-accent-200: hsl(200, 45%, 88%);
	--clr-accent-300: hsl(200, 45%, 76%);
	--clr-accent-400: hsl(200, 45%, 53%);
	--clr-accent-500: hsl(200, 45%, 35%);
	--clr-accent-600: hsl(200, 45%, 19%);
	--clr-accent-700: hsl(200, 45%, 5%);

	--clr-neutral-100: hsl(0, 0%, 99%);
	--clr-neutral-200: hsl(0, 0%, 98%);
	--clr-neutral-300: hsl(0, 0%, 91%);
	--clr-neutral-400: hsl(0, 0%, 85%);
	--clr-neutral-500: hsl(0, 0%, 55%);
	--clr-neutral-600: hsl(0, 0%, 39%);
	--clr-neutral-700: hsl(0, 0%, 12%);

	--trans-light-100: hsl(0 0% 100% / 0.05);
	--trans-light-200: hsl(0 0% 100% / 0.15);
	--trans-light-300: hsl(0 0% 100% / 0.25);
	--trans-light-400: hsl(0 0% 100% / 0.5);
	--trans-light-500: hsl(0 0% 100% / 0.6);
	--trans-light-600: hsl(0 0% 100% / 0.8);
	--trans-light-700: hsl(0 0% 100% / 0.9);

	--trans-dark-100: hsl(0 0% 0% / 0.05);
	--trans-dark-200: hsl(0 0% 0% / 0.15);
	--trans-dark-300: hsl(0 0% 0% / 0.25);
	--trans-dark-400: hsl(0 0% 0% / 0.5);
	--trans-dark-500: hsl(0 0% 0% / 0.6);
	--trans-dark-600: hsl(0 0% 0% / 0.8);
	--trans-dark-700: hsl(0 0% 0% / 0.9);
}
/*

1 App background
2 Subtle background

3 UI element background
4 Hovered UI element background
5 Active / Selected UI element background

6 Subtle borders and separators
7 UI element border and focus rings
8 Hovered UI element border

9 Solid backgrounds
10  Hovered solid backgrounds
11  Low-contrast text
12  High-contrast text

*/

:root {
	--text-size-xs: 0.64rem;
	--text-size-sm: 0.8rem;
	--text-size-p: 1rem;
	--text-size-h6: 1.25rem;
	--text-size-h5: 1.56rem;
	--text-size-h4: 1.95rem;
	--text-size-h3: 2.44rem;
	--text-size-h2: 3.05rem;
	--text-size-h1: 3.81rem;

	--interaction-hover-bg: var(--clr-prime-050);
}

:root {
	--space-size-xs: 0.64rem;
	--space-size-sm: 0.8rem;
	--space-size-p: 1rem;
	--space-size-h6: 1.25rem;
	--space-size-h5: 1.56rem;
	--space-size-h4: 1.95rem;
	--space-size-h3: 2.44rem;
	--space-size-h2: 3.05rem;
	--space-size-h1: 3.81rem;
}
