.input-group {
	display: flex;
	align-items: baseline;
	margin-block-end: var(--space-size-p);

	label {
		width: 10em;
	}
}

input:not([type="submit"], [type="reset"], [type="range"]),
textarea {
	font: inherit;
	padding: 0.25em;

	border-radius: 0.2em;
	border: 1px solid var(--clr-prime-400);
	color: var(--txt-color);
	box-shadow: inset 0 0 5px var(--clr-prime-200);
}

select {
	color: var(--clr-prime-500);
}

placeholder {
	color: lime;
}
