dialog {
	border-radius: 1rem;
	/* overflow: clip; */
	border: 1px solid var(--clr-prime-400);

	box-shadow: 0 0 2rem var(--clr-prime-600);
}
.dialog-header {
	display: flex;
	align-items: start;
	gap: 1rem;
	border-bottom: 1px solid var(--clr-prime-300);
	& > * {
		margin-bottom: 0.2em;
	}
}

::backdrop {
	background-color: var(--clr-prime-600);
	background-color: hsl(from var(--clr-prime-600) h s l / 0.5);
	backdrop-filter: blur(2px);
}

.top-close {
	aspect-ratio: 1;
	border-radius: 9cm;
	background-color: var(--clr-neutral-400);
	background-color: transparent;
	color: var(--clr-neutral-700);
}
